$color-1: hsla(278, 100%, 26%, 1);
$color-2: hsla(285, 28%, 38%, 1);
$color-sudoku-bubble: hsl(268, 33%, 58%);
$color-inner-bubble: hsl(252,49%, 54%);
$xs-width: 320px;
$sm-width: 600px;
$md-width: 960px;
$lg-width: 1200px;
$xs-board: 280px;
$sm-board: 320px;
$board:   600px;

* { 
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body {
  height: 100%;
  @media(max-width: $sm-width) and (min-width: $xs-width+1) {
    font-size:10px
  }
  @media( max-width: $xs-width){
    font-size:10px
  }
  // max-height: 800px;
}
body {
  background-color: $color-2;
}

.container {
  width: 100%;  //whole viewport
  max-width: $md-width;
  height: 100%;
  // max-height:600px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  height: 100px;
}

$bubble-size: 600px;
.content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  // align-content: center;
  align-items: center;
}
.sudoku-box, .btn-done {
  // flex: 1 100%;
}
.sudoku-box {
  max-width: $board;
  width: $board;
  height: $board;
  @media(max-width: $sm-width) and (min-width: $xs-width+1) {
    width: $sm-board;
    height: $sm-board;
  }
  @media( max-width: $xs-width){
    width: $xs-board;
    height: $xs-board;
  }
  border-radius: $bubble-size/2;
  // background-color: $color-sudoku-bubble;
  .bt {
    box-shadow: inset 1px 1px 1px 2px hsl(252,49%, 54%);
    outline: 1px solid hsl(0, 0%, 30%);
  }

  th {
    text-align: center;
    vertical-align: middel;
    border-right: 1px solid hsl(0,0%,50%);
    border-left: 1px solid hsl(0,0%,50%);
  }
  
  input {
    height: $board/10;
    width: $board/10;
    border-radius: $board/10*.5;
    font-size: 2em;
    @media(max-width: $sm-width) and (min-width: $xs-width+1) {
      width: $sm-board/10;
      height: $sm-board/10;
      border-radius: $sm-board/10*.5;
    }
    @media( max-width: $xs-width){
      width: $xs-board/10;
      height: $xs-board/10;
      border-radius: $xs-board/10*.5;
    }
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    text-align: center;
  }
}
  .btn-done {
    $height: 50px;
    height: $height;
    width: 3*$height;
    border-radius: $height/2;
    background-color: hsla(285, 18%, 51%, 1);
    color: white;
    font-size: 24px;
    &:hover {
      box-shadow: 0px 0px 5px #fff;
    }
  }
  .footer {
    height: 50px;
    margin-top: 30px;
  }




