extends ./layout.jade



block content
  div.container
    h1 Sudoku Bubble
    
    div.sudoku-box
      table(class='bt box-table#{n}')
        tbody
          each i in [0,1,2,3,4,5,6,7,8]
              tr
                each j in [0,1,2,3,4,5,6,7,8]
                  th
                    input(class='cell c#{i}#{j}')

    div.footer
      p Created by Autumn Fjeld
